.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
  align-items: center;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-right: 5%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filterContainer {
  display: flex;
  gap: 10px;
}

.scroll {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
  max-height: calc(100vh - 400px);
  cursor: pointer;
  scrollbar-color: #7B68EE #dcd9ec;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #dcd9ec;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7B68EE;
  border-radius: 10px;
}

.input {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid #7B68EE;
  border-radius: 10px;
  padding: 10px;
}

.input:focus {
  box-shadow:  0 0 10px 2px #7B68EE;
  outline: 0;
  outline-offset: 0;
}

.input::placeholder {
  color: #778899;
  font-weight: 300;
  font-size: 16px;
}

.addButton {
  border-radius: 20px;
  width: 150px;
  background-color: #7B68EE;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.7;
}

.addButtonDis {
  border-radius: 20px;
  width: 150px;
  background-color: #d7d3ee;
  border: none;
  color: #fff;
  padding: 10px;
}

.counterText {
  color: #7B68EE;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.counter {
  color: #7B68EE;
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
}

.filterButtonActive {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #bbbbbe;
  color: #7B68EE;
  cursor: pointer;
  padding: 0;
}

.filterButton {
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #bbbbbe;
  color: #778899;
  cursor: pointer;
  padding: 0;
}

.filterButton:hover {
  border-bottom: 1px solid #bbbbbe;
  cursor: pointer;
  color: #7B68EE;
}

.filterButtonActive:hover {
  opacity: 0.7;
}


@media screen and (max-width: 767px) {
  .addContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0;
    gap: 20px;
  }
  .container {
    gap: 40px;
    width: 80%;
  }
  .filterButtonActive {
    font-size: 12px;
  }
  .filterButton {
    font-size: 12px;
  }
  .filterContainer {
    justify-content: center;
  }
  .counterText {
    font-size: 20px;
  }
  .input {
    width: 100%;
  }
}

