.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
  align-items: center;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filterContainer {
  display: flex;
  gap: 10px;
}

  .scroll {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    box-sizing: border-box;
    max-height: calc(100vh - 611px);
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #143861;
}

::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

.input {
  width: 70%;
  box-sizing: border-box;
  border: 2px solid #7B68EE;
  border-radius: 10px;
  padding: 10px;
}

.input:focus {
  box-shadow:  0 0 10px 2px #7B68EE;
  outline: 0;
  outline-offset: 0;
}

.input::placeholder {
  color: #778899;
  font-weight: 300;
  font-size: 16px;
}

.addButton {
  border-radius: 20px;
  width: 150px;
  background-color: #7B68EE;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.7;
}

.addButtonDis {
  border-radius: 20px;
  width: 150px;
  background-color: #d7d3ee;
  border: none;
  color: #fff;
  padding: 10px;
}

.counterText {
  color: #7B68EE;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.counter {
  color: #7B68EE;
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
}


